@import "modal";

.post-type-rtcl_cfg #minor-publishing-actions,
.post-type-rtcl_cfg #misc-publishing-actions #visibility,
.post-type-rtcl_cfg #misc-publishing-actions .curtime {
    display: none;
}

.is_pro {
    .rule-groups {
        display: none !important;
    }
}

.post-type-rtcl_cfg #titlediv #title {
    margin-bottom: 20px;
}

.post-type-rtcl_cfg {
    .rtcl-cf-postbox {
        h2 {
            &.hndle {
                justify-content: normal;
            }
            
            .rtcl-legend-update {
                margin: 0 5px;
            }
        }
    }
}

.rtcl-cf-add-new.button {
    color: #fff;
    font-weight: 700;
    height: auto;
    padding: 10px 15px 10px 10px;
    margin-bottom: 1em;
    background-color: #f05a28;
    border-color: #ed4e26;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 175, 148, 0.5), 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 1px 0 rgba(255, 175, 148, 0.5), 0 1px 0 rgba(0, 0, 0, .15);
    
    span {
        vertical-align: text-top;
    }
}

.rtcl-choose-field span.rtcl-field-item {
    height: auto;
    margin: 0 10px 10px 0;
    padding: 0 5px;
    text-align: center;
    width: 140px;
    line-height: 1.75em;
    display: inline-block;
    min-width: auto;
    
    i.rtcl-icon {
        display: block;
        font-size: 1.4em;
        margin: 0 auto;
        padding-top: 10px;
    }
}

.rtcl-icon.rtcl-rotate-180:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rtcl-icon.rtcl-checkboxes:after {
    content: '\f096';
    font-family: "rtcl";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

#rtcl-cfg {
    .postbox {
        span.rtcl-field-remove {
            display: inline-block;
            padding: 5px 10px 0 0;
            color: red;
            line-height: 22px;
            cursor: pointer;
        }
        
        h3.hndle span.dashicons {
            text-align: center;
            width: 2em;
        }
        
        .handlediv:before {
            right: 12px;
            font: 400 20px/1 dashicons;
            speak: none;
            display: inline-block;
            padding: 8px 10px;
            top: 0;
            position: relative;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-decoration: none !important;
            content: '\f142';
        }
        
        &.closed .handlediv:before {
            content: '\f140';
        }
        
        &.ui-sortable-placeholder {
            border: 1px dashed #cccccc;
            width: auto;
            visibility: visible !important;
        }
    }
}

.rtcl-cfg-field-group {
    * {
        box-sizing: border-box;
    }
    
    &:after {
        clear: both;
        display: block;
        content: "";
    }
    
    > div {
        padding: 8px 10px;
    }
    
    .rtcl-cfg-field-label {
        float: left;
        min-width: 150px;
        width: 28%;
        word-wrap: break-word;
        text-align: right;
    }
    
    .rtcl-cfg-field {
        width: 70%;
        float: right;
        
        .rtcl-delete-option {
            cursor: pointer;
            color: red;
            
            &hover {
                color: green;
            }
        }
        
        table.rtcl-fields-field-value-options {
            tr td {
                border: 0;
                font-size: inherit;
                line-height: inherit;
                padding: 0 8px 4px 8px;
                vertical-align: middle;
            }
        }
    }
    
    ul.rtcl-radio-list,
    ul.rtcl-checkbox-list {
        background: transparent !important;
        position: relative;
        display: block;
        padding: 1px;
        margin: 0;
        
        &.horizontal {
            overflow: hidden;
        }
        
        li {
            float: left;
            margin-right: 20px;
            
            input {
                margin-top: -1px;
                margin-right: 5px !important;
                width: auto !important;
            }
        }
    }
    
    .rule-groups {
        margin-top: 20px;
        
        .rtcl-icon {
            
            display: inline-block;
            height: 28px;
            width: 28px;
            border: transparent solid 1px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 21px;
            text-align: center;
            text-decoration: none;
            vertical-align: top;
            box-sizing: border-box;
            
            &.-minus {
                &:before {
                    content: "\f460";
                }
            }
            
            &.-minus, &.-cancel {
                &:hover {
                    background: #f7efef;
                    border-color: #a10000;
                    color: #dc3232;
                }
            }
            
            &:before {
                font-family: dashicons, serif;
                display: inline-block;
                line-height: 1;
                font-weight: 400;
                font-style: normal;
                speak: none;
                text-decoration: inherit;
                text-transform: none;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                width: 1em;
                height: 1em;
                vertical-align: middle;
                text-align: center;
            }
        }
        
        a {
            &.rtcl-icon {
                color: #555d66;
                border-color: #b5bcc2;
                background-color: #fff;
                position: relative;
                transition: none;
                cursor: pointer;
            }
        }
        
        select, input {
            width: 100%;
        }
        
        h4 {
            margin: 3px 0;
        }
        
        .rule-group {
            
            h4 {
                margin: 0 0 3px;
            }
            
            td {
                &.param {
                    width: 35%;
                }
                
                &.operator {
                    width: 20%;
                }
                
                &.add {
                    width: 40px;
                }
                
                &.remove {
                    width: 28px;
                    vertical-align: middle;
                    
                    a {
                        visibility: hidden
                    }
                }
            }
            
            tr {
                &:hover {
                    td {
                        &.remove {
                            a {
                                visibility: visible
                            }
                        }
                    }
                    
                }
            }
            
            &:first-child {
                tr {
                    &:first-child {
                        td {
                            &.remove {
                                a {
                                    visibility: hidden !important;
                                }
                            }
                        }
                    }
                }
            }
            
            select:empty {
                background: #f8f8f8
            }
        }
    }
}
